Repository      : arch4edu
Name            : gmsh
Version         : 4.12.0-1
Description     : An automatic 3D finite element mesh generator with pre and post-processing facilities.
Architecture    : x86_64
URL             : https://gmsh.info
Licenses        : custom
Groups          : None
Provides        : None
Depends On      : fltk  med-openmpi  opencascade  cairo  metis  alglib  ann  glu  cgns  lapack
Optional Deps   : gmsh-docs: docs for gmsh
                  python: for gmsh.py
                  julia: for gmsh.jl
Conflicts With  : None
Replaces        : None
Download Size   : 9.44 MiB
Installed Size  : 41.87 MiB
Packager        : Unknown Packager
Build Date      : Thu 21 Dec 2023 03:23:14
Validated By    : MD5 Sum  SHA-256 Sum  Signature